<header class="header">
    <a href="/" class="header__logo">NodeJs</a>

    <nav class="header__nav">
       <ul class="header__list">
           <li class="header__item">
               <a href="/" class="header__link">Home</a>
           </li>
           <li class="header_item">
               <a href="/about" class="header__link">About</a>
           </li>
            <li class="header_item">
                <a href="/contact" class="header__link">Contact</a>
            </li>
    </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            Search
            <svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.398 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.415l-3.85-3.85zm-5.242 1.106a5 5 0 1 1 0-10 5 5 0 0 1 0 10z"/>
            </svg>

        </button>
    </div>
</header>