<div class="author">
    <h1 class="author__header">Hi, I am Abdul Razak Abubakari</h1>
    <p. class="author__body">Web and Mobile App developer</p>
</div>

<img src="/img/mypic.png" alt="My image" class="hero-image" width="981", height="528" >

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
   
    <ul class="articles-ul">
        <li class="articles-li" >
            <a href="#" class="articles__link">
                <span >Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
        <li class="articles-li" >
            <a href="#" class="articles__link">
                <span >Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
        <li class="articles-li" >
            <a href="#" class="articles__link">
                <span >Post Title</span>
                <span class="articles-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View older posts</a>
</section>