<div>
    <h1>Search Results</h1>
    <% if (data.length === 0) { %>
        <p>No results found for your search.</p>
    <% } else { %>
        <ul class="articles-ul">
        <% data.forEach(post => { %>
            <li class="articles-li">
            <a href="/post/<%= post._id %>" class="articles__link">
                <span><%= post.title %></span>
                <span class="articles-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
            </li>
        <% }) %>
        </ul>
    <% } %>
</div>